@import "settings";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}


body {
    font-family: $main-font;
    height: 200vh;
}

.header {
    position: relative;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}

.main-bttn {
    @include main-bttn;
    overflow: hidden;
}

.main-bttn span {
    position: relative;
    z-index: 100;
}

.main-bttn:hover {
    color: $white;
    text-decoration: none;
}

.main-bttn::before {
    content: '';
    @include main-bttn;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    background-image: linear-gradient(221deg, #49007c 0%, #e70088 100%);
}

.main-bttn:hover:before {
    z-index: 0;
    transform: translateX(0);
}

.navbar {
    padding-top: 39px;
    padding-bottom: 0;
    transition: .3s ease-in-out;

    &__brand {
        padding-bottom: 19px;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        color: $black;

        &--light {
            font-weight: 300;
        }

    }

    &__brand:hover {
        color: $black;
    }

    .menu {
        .nav-link {
            color: $black;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            transition: .3s ease-in-out;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 18px;
        }

        .nav-link:hover {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

}

.navbar.menu__scroll {
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.8);

    .navbar__brand {
        color: $white;
    }

    .menu {
        .nav-link {
            color: $white;
        }

        .nav-link:hover {
            border: 1px solid rgba(255, 255, 255, .5);
        }
    }
}

.heading {
    margin-top: 200px;
    text-align: center;

    &__head {
        @include heading-primiary;
    }

    &__subhead {
        @include underhead-text;
    }

    &__bttn {
        margin: 50px auto 0;


    }
}

.scrollSite {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;


    &__icon {
        width: 25px;
        height: 25px;
    }

    &__text {
        font-size: 14px;
        color: $white;
        line-height: 18px;
    }

    &__link {
        position: relative;
        animation: bounce 1s infinite;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }

    25% {
        top: 5px
    }

    50% {
        top: 10px
    }

    75% {
        top: 5px
    }

    100% {
        top: 0px;
    }
}

.aboutUs {
    background-image: url(../img/aboutUs_bg.png);
    background-size: cover;
    background-position: center;

    &__headBox {
        padding: 115px 160px 132px;
        text-align: center;
    }

    &__heading {
        @include heading-primiary;
        color: $white;
        padding-bottom: 38px;
    }

    &__subheading {
        @include underhead-text;
    }

    &__team {
        text-align: center;
    }

    &__bttn {
        margin: 0 auto;
        @include main-bttn;
    }

    &__seeMore {
        padding: 61px 0;
        text-align: center;
    }
}


.worker {
    &__img {
        padding-bottom: 31px;
    }

    &__name {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: $white;
        margin-bottom: 0;
        padding-bottom: 31px;
    }

    &__desc {
        @include underhead-text;
    }

}

.offer {
    position: relative;
    padding-top: 50px;

    &::before {
        content: '';
        background-image: url(../img/offer_left.png);
        width: 50%;
        height: 100%;
        display: block;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        background-image: url(../img/offer_right.png);
        width: 50%;
        height: 100%;
        display: block;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .design,
    .code {
        padding: 75px 0;

        &__head {
            @include heading-primiary;
            color: $white;
            margin-bottom: 0;
            padding-bottom: 21px;

            &--light {
                font-weight: 300;
            }
        }

        &__desc {
            @include underhead-text;
            color: $white;
        }

    }

    .code {
        padding-left: 42.5px;
    }

    .design {
        padding-right: 42.5px;
    }
}

.weDo {
    padding: 115px 0 0 0;

    &__head {
        @include heading-primiary;
        text-align: center;
        padding-bottom: 110px;
    }

    .services {
        display: flex;
        align-items: center;
        padding-bottom: 50px;

        &__name {
            @include heading-secondary;
            margin-bottom: 0;
            padding-bottom: 25px;
        }

        &__textWrap {
            padding-left: 47px;
        }

        &__desc {
            @include underhead-text;
            font-size: 16px;
        }

        &__img {
            width: 105px;
        }
    }

    &__cta {
        &--bttn {
            margin: 0 auto;
        }
    }
}

.portfolio {
    &__carousel {
        position: relative;
        margin-top: 115px;

        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-29.5px);
            width: 100%;
            // height: 59px;-- translate 50%

            .owl-prev {
                position: absolute;
                left: 0;
            }

            .owl-next {
                position: absolute;
                right: 0;
            }
        }

        .item {
            position: relative;
            z-index: 222;

            &__mask {
                position: absolute;
                top: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.63);
                opacity: 0;
                transition: .3s ease-in-out;
                z-index: 0;
            }

            &__title {
                @include heading-secondary;
                color: $white;
            }

            &__desc {
                font-size: 16px;
                line-height: 24px;
                color: $white;
                text-align: center;
                font-weight: 300;
            }
        }

        .item:hover .item__mask {
            opacity: 1;
            z-index: 0;

        }
    }
}

.footer {
    position: relative;
    padding-top: 61px;

    .contact {
        padding-bottom: 20px;

        &__heading {
            @include heading-primiary;
            padding-bottom: 30px;
        }

        &__street,
        &__city {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        &__email {
            padding-top: 30px;
        }

        &__email,
        &__tel {
            display: block;
            font-size: 18px;
            color: $black;
            margin-bottom: 5px;
        }

        &__tel {
            padding-bottom: 20px;
        }

        &__facebook,
        &__linked,
        &__insta {
            font-size: 24px;
            color: $black;
            margin-right: 20px;
        }
    }

    .copyrights {
        background: rgba(0, 0, 0, 0.8);
        color: $white;
        text-align: center;
        margin-bottom: 0;
        padding: 8px 0;
    }

    &__arrow {
        position: absolute;
        top: -25px;
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(221deg, #49007c 0%, #e70088 100%);
        z-index: 22;
    }

    &__arrow:hover {
        color: $white;
    }

    .map__column {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;

        .map {
            width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (max-width: 991px) {
    .navbar-toggler-icon {
        width: unset;
        height: unset;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.8);
        // height: 100vh;
        padding-bottom: 20px;

        &__brand {
            color: $white;
            padding-bottom: 0;
        }

        .menu {
            padding: 50px 0;

            .nav-item {
                .nav-link {
                    display: inline-block;
                    padding: 8px;
                    color: $white;
                }
            }
        }

        i.fa.fa-bars {
            color: $white;
        }
    }

    .weDo {
        .services {
            &__textWrap {
                padding-left: 25px;
            }

            &__name {
                font-size: 24px;
                padding-right: 50px;
            }

            &__desc {
                line-height: 24px;
                font-size: 14px;
            }
        }
    }

    .portfolio__carousel {
        margin-top: 75px;

        .item {
            &__title {
                font-size: 24px;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
            }

            &__link {
                width: 140px;
                height: 30px;
            }
        }

        .owl-nav {

            .owl-prev,
            .owl-next {
                width: 30px;
                height: 30px;

                img {
                    width: 100%;
                }
            }
        }

    }

    .heading {
        margin-top: 160px;

        &__head {
            padding: 0 70px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .heading {
        &__subhead {
            padding: 0 60px;
        }
    }

    .offer {
        &::before {
            height: 50%;
            width: 100%;
            top: 0;
        }

        &::after {
            width: 100%;
            height: 100%;
            right: 0;
            left: 0;
        }
    }

    .portfolio__carousel {
        margin-top: 75px;

        .item {
            &__title {
                font-size: 34px;
            }

            &__desc {
                font-size: 18px;
                line-height: 24px;
                padding: 0 80px;
            }

            &__link {
                width: 150px;
                height: 50px;

            }
        }
    }

    .aboutUs {
        &__headBox {
            padding: 115px 10px 32px;
        }
    }

    .offer {
        .design {
            padding-left: 42.5px;
            padding-right: 0;
        }
    }
}

@media only screen and (max-width: 575px) {
    .footer {
        .map__column {
            position: unset;
        }

        .contact {
            padding-left: 50px;
        }
    }

    .heading {
        margin-top: 120px;

        &__head {
            font-size: 32px;
            line-height: 34px;
            padding: 0 20px;
        }

        &__subhead {
            padding: 0 20px;
        }
    }


    .navbar__brand {
        font-size: 24px;
    }

    .scrollSite {
        bottom: 20px;
    }

    .portfolio__carousel {
        .item {
            &__desc {
                padding: 0 40px;
            }
        }
    }

    .weDo {
        &__head {
            font-size: 38px;
            padding-bottom: 60px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .heading {
        margin-top: 150px;
    }

    .scrollSite {
        bottom: 50px;
    }
}